body {
  font-family: Arial;
  background-color: #FFFDF3;
}
header {
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 40px auto;
}

.nav-link{
  font-size: 20px;
  color: #F2826D;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 670;
  padding: 10px 20px;
  flex-grow: 0;
}

.nav-link:nth-child(2) {
  margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 30px auto;
    padding: 35px 30px;
    border: 3px solid #FEAC7E; 
    border-radius: 20px;
}


h1{
    font-size:40px;
    color: #2B2498;
    text-align: center;
}

label{
  font-size: 18px;
  color: #F2826D;
  line-height: 1.8;
}

#nosp, #sp115, #spUnder70, #student, #single, #widow, #welfare{
  margin-left: 13px;
}

.sp{
  font-size: 15px;
}

#age1619, #age1923, #age2370, #age70Co, #age70, #disability, #Sdisability, #SdisabilityCo{
  width: 10px;
  margin: 0 10px 0 8px;
  text-align: center;
}

input[type="number"]{
  vertical-align: 1px;
  margin: 0 10px 0 8px;
  width: 40px;
  height: 15px;
  border: 1px solid #F2826D;
  border-radius: 3px;
  font-family: Gill Sans;
  font-weight: 600;
  text-align: right;
  background-color: #F3F3F3
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"] {
  position: relative;
  width: 11px;
  height: 11px;
  border: 1px solid #F2826D;
  border-radius: 50%;
  background-color: #F2826D;
  margin-right: 6px;
  cursor: pointer;
}

input[type="radio"]:checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FAB6B6;
  content: '';
}

#calculate{
  width: 50%;
  height: 40px;
  background-color: #FEAC7E;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  margin: 20px 25%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
  
.container2{
  align-items: 50%;
  width: 50%;
  margin: auto;
}
    
.result{
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 60px;
    font-size: 40px;
    color:#06f;
}
    
.taxes{
    text-align: center;
}
    
.input{
    margin-top:60px;
    text-align:center;
}
  
h3{
    font-size: 25px;
    color: #C2567E;
}
    
.amount{
    font-size: 30px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  .explanation {
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  .calculation {
    width: 45%;
    height: 2500px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 30px;
    margin-top: 30px;
  }

  h2{
    font-size: 24px;
    text-align:center;
    color: #C2567E;
  }
  
  .ex{
    font-size: 20px;
    line-height: 30px;
  }
  
  .formula{
    font-size: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align:center;
  }
  
  th {
    background-color: #f2f2f2;
  }
